<main role="main" class="flex-shrink-0">
    <div class="container">
      <h1 class="shipping-title text-white">配送先の確認</h1>
      <table class="table text-white">
		  <thead>
		    <tr>
		      <th scope="col">名前</th>
		      <th scope="col">電話番号</th>
		      <th scope="col">住所</th>
		      <th scope="col"></th>
		    </tr>
		  </thead>
		  <% @shipping_addresses.each do |shipping_address| %>
			  <tbody>
			    <tr>
			      <td><%= shipping_address.last_name + shipping_address.first_name %></td>
			      <td><%= shipping_address.phone_number %></td>
			      <td><%= "#{shipping_address.prefectures}" + "#{shipping_address.city}" + "#{shipping_address.block}" %></td>
			      <td>
			      	<button type="button" class="btn btn-info float-right">
			   			<%= link_to "編集", edit_users_shipping_address_path(shipping_address.id), class:"text-dark" %>
			   		</button>
			   		<button type="button" class="btn btn-danger float-right">
			   			<%= link_to "削除", users_shipping_address_path(shipping_address.id), class:"text-dark", method: :delete, "data-confirm" => "本当に削除しますか？" %>
			   		</button>
			   	　</td>
			    </tr>
			    ...
			  </tbody>
		  <% end %>
	   </table>
	   <div class="float-right">
	   		<button type="button" class="btn btn-success rounded-pill">
	   			<%= link_to "配送先の追加", new_users_shipping_address_path, class:"text-white" %>
	   		</button>
	   </div>
	   <div class="float-left mt-5">
	   		<button type="button" class="btn btn-light">
	   			<%= link_to "マイページに戻る", users_path, class:"text-dark" %>
	   		</button>
	   </div>
    </div>
</main>