<main role="main" class="flex-shrink-0">
    <div class="container">
      <h1 class="shipping-title text-white">配送先の追加</h1>
	  <%= form_for([:users, @shipping_address], html: {class: 'text-white'}) do |f|  %>
	  	  <div class="form-row">
		    <div class="col">
		        <%= f.label :last_name,"姓" %>
		      	<%= f.text_field :last_name, class:"form-control", placeholder:"山田" %>
		    </div>
		    <div class="col">
		    	<%= f.label :first_name,"名" %>
		        <%= f.text_field :first_name, class:"form-control", placeholder:"太郎" %>
		    </div>
  		  </div>
  		  <div class="form-row mt-4">
		    <div class="col">
		    	<%= f.label :last_name_kana,"姓(カナ)" %>
		      	<%= f.text_field :last_name_kana, class:"form-control", placeholder:"ヤマダ" %>
		    </div>
		    <div class="col">
		    	<%= f.label :first_name_kana,"名(カナ)" %>
		        <%= f.text_field :first_name_kana, class:"form-control", placeholder:"タロウ" %>
		    </div>
  		  </div>
		  <div class="form-row mt-4">
		    <div class="form-group col-md-2">
		      <%= f.label :post_number,"郵便番号" %>
		      <%= f.text_field :post_number, class:"form-control", placeholder:"000-0000" %>
		    </div>
		    <div class="form-group col-md-4">
		      <%= f.label :prefectures,"都道府県" %>
		      <%= f.select :prefectures, [["北海道", 0], ["青森県", 1]], {}, {class:"form-control"} %>
		    </div>
		    <div class="form-group col-md-6">
		      <%= f.label :city,"市町村" %>
		      <%= f.text_field :city, class:"form-control" %>
		    </div>
		  </div>
		  <div class="form-group mt-4">
		    <%= f.label :block,"番地・建物名" %>
		    <%= f.text_field :block, class:"form-control", placeholder:"1丁目2番3号"%>
		  </div>
		  <div class="form-group mt-4">
		    <%= f.label :phone_number,"電話番号" %>
		    <%= f.text_field :phone_number, class:"form-control", placeholder:"090-0000-0000"%>
		  	<%= f.submit "追加する", class:"btn btn-success mb-5 mt-4" %>
	  <% end %>
    </div>
</main>