<div class= title>
<h2 class="text-white">ユーザーログインページ</h2>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field login-title text-white text-big">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field login-title text-white text-big">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>


  <div class="actions title text-big">
    <%= f.submit "カートに進む" %>
  </div>
<% end %>