<main>
	<div class="container-fluid">
	  <div class="text-white">
		<div class="row">
			<div class="col-md-5 offset-md-1">
		<h3 class="mypage-title">ユーザー情報</h3>
        <div class="field">
		
        </div>
        <%= form_for @user,:url => {:action => :show} do |f| %>
		<div class="field">
		<%= f.label :last_name,"姓" %>
        <%= f.text_field :last_name, readonly: true %>
        </div>
        <%= f.label :last_name,"名" %>
        <%= f.text_field :first_name, readonly: true %>
        </div>
		<div class="field">
		<%= f.label :last_name_kana,"姓(カナ)" %>
        <%= f.text_field :last_name_kana, readonly: true %>
        </div>
		<div class="field">
		<%= f.label :first_name_kana,"名(カナ)" %>
        <%= f.text_field :first_name_kana, readonly: true %>
        </div>
		<div class="field">
		<%= f.label :email_address,"メールアドレス" %>
        <%= f.text_field :email, readonly: true %>
        </div>
		<div class="field">
		<%= f.label :phone_number,"電話番号" %>
        <%= f.text_field :phone_number, readonly: true %>
        </div>
        <div class="field">
		<%= f.label :prefectures,"都道府県" %>
        <%= f.text_field :prefectures, readonly: true %>
        </div>
        <div class="field">
		<%= f.label :city,"市町村" %>
        <%= f.text_field :city, readonly: true %>
        </div>
        <div class="field">
		<%= f.label :block,"番地・建物名" %>
        <%= f.text_field :block, readonly: true %>
        </div>
        <% end %>
		<div class="form-group">
		 <label for="shipping-address">配送先</label>
		   <%= link_to "配送先の確認", users_shipping_addresses_path, class: "btn btn-success" %>
		</div>
	  </div>
		<div class="col-md-6">
			<h3 class="buy-history-title">購入履歴一覧</h3>
		<table class="table table-hover table-bordered">
	<thead>
		<tr>
			<th>購入日</th>
			<th>ステータス</th>
			<th>送付先</th>
			<th>シングル/アルバム名</th>
			<th>購入枚数</th>
			<th>小計</th>
		</tr>
	</thead>
 <tbody>
            <% @orders.each do |order|%>
                <tr>
                	<td rowspan="<%= order.buy_products.count %>"><%= order.created_at.strftime('%Y年%m月%d日') %></td>
                    <td rowspan="<%= order.buy_products.count %>"><%= order.shipping_status %></td>
                    <td rowspan="<%= order.buy_products.count %>"><%= order.shipping_address %></td>
                    <% order.buy_products.each_with_index do |buy_product, i| %>
                        <% if i == 0 %>
                            <td><%= buy_product.buy_title %></td>
                            <td><%= buy_product.buy_number%><span>枚</span></td>
                            <td><%= buy_product.buy_price%><span>円</span></td>
                        <% end %>
                    <% end %>
                </tr>
                  <% order.buy_products.each_with_index do |buy_product, i| %>
                    <% if i >= 1 %>
                        <tr>
                            <td><%= buy_product.buy_title %></td>
                            <td><%= buy_product.buy_number%><span>枚</span></td>
                            <td><%= buy_product.buy_price%><span>円</span></td>
                        </tr>
                    <% end %>
                  <% end %>
            <% end %>
        </tbody>
  </table>
	</div>
	</div>
	<div class="row">
		<div class="col-md-3">
      <%= link_to "登録情報の編集", edit_user_registration_path, class: "btn btn-success" %>
		</div>
		<div class="col-md-3">
      <%= link_to "退会", user_registration_path, method: :delete,"data-confirm" => "退会しますか？",class: "btn btn-danger" %>
		</div>
	</div>
</div>
 </div>
</main>
