<div class="container-fluid text-white">
		<div class="row">
			<div class="col-md-2">
				<h5 class="period">絞り込み検索</h5>
				<%= search_form_for([:users,@q]) do |f| %>
						<%= f.search_field :title_or_discs_songs_name_or_artist_artist_name_cont, placeholder:"曲名、アルバム名等", class:"mt-4" %><br>
						<%= f.select :period_eq, options_for_select([["1980年代", "1980年代"],["1990年代","1990年代"],["2000年代前半", "2000年代前半"],["2000年代後半","2000年代後半"],["2010年代前半","2010年代前半"],["2010年代後半","2010年代後半"]]), {}, class:"mt-4" %><br>
						<%= f.collection_select :category_id_eq, @categories, :id, :category_name, {include_blank: "指定なし"}, class:"mt-4" %><br>
						<%= f.submit "絞り込む", class:"btn btn-primary mt-4" %>
				<% end %>
			</div>
			<div class="col clearfix">
				<div class="float-left serch-title text-left">
					<strong><u>検索条件</u></strong><br>
					名前:
					<% unless params[:q][:title_or_discs_songs_name_or_artist_artist_name_cont].nil? %>
					<strong class="text-warning"><%= params[:q][:title_or_discs_songs_name_or_artist_artist_name_cont] %></strong>
					<% end %><br>
					年代:
					<% unless params[:q][:period_eq].nil? or params[:q][:period_eq] == "" %>
					<strong class="text-secondary"><%= params[:q][:period_eq] %></strong>
					<% end %><br>
					ジャンル:
					<% unless params[:q][:category_id_eq].nil? or params[:q][:category_id_eq] == "" %>
					<strong class="text-info"><%= @categories.find(params[:q][:category_id_eq]).category_name %></strong>
					<% end %>
				</div>
				<div class="clearfix"></div>
				<% @products.each do |product| %>
				<div class="float-left mt-4 ml-4">
					<div>
						<%= image_tag 'image.jpg', :size =>'100x100'%>
					</div>
					<div>
						<%= link_to "#{product.title}", users_product_path(product.id) %><br>
						Artist:<%= product.artist.artist_name %><br>
						Period:<%= product.period %><br>
						Price:<%= product.price %><br>
						Stock:
							<% if product.stock >= 3 %>
								有
							<% elsif product.stock > 0 %>
								残りわずか
							<% else %>
								無
							<% end %>
						<div>
							<ul class="list-unstyled">
							<% product.discs.each do |disc| %>
								<li><strong><u>Disc<%= disc.disc_number %></u></strong></li>
								<ul class="list-unstyled ml-5">
									<% disc.songs.each do |song| %>
										<li><%= song.song_number %>.<%= song.name %></li>
									<% end %>
								</ul>
							<% end %>
							</ul>
						</div>
				</div>
　　　　　　　</div>
			<% end %>
		</div>
</div>
