<main>
	<div class="container">
		<div class="text-white">
			<div class="user-title">
			  <div class="row">
				<div class="col-md-4">
					<h4>ジャケット画像</h4>
					<div class="d-flex">
                        <%= attachment_image_tag @product,:jacket_image, fallback: "no_image.png", size: '150x150' %>
				    </div>
				</div>
				<div class="col-md-5">
					<h4><%=@product.title %></h4>
					<h5><%=@product.artist.artist_name %><br>
					<%=@product.period %></h5>

					<p>
            <span>値段：</span><%=@product.price %><span>円</span><br><span>在庫数：</span>
            <%if @product.stock<1 %>
              <span>在庫なし</span>
              <% elsif @product.stock<=3 %>
              <span>残りわずか</span>
              <% else %>
              <span>在庫あり</span>
            </p>
            <% end %>
　　　　　</div>


  <%= form_for @cart do |f| %>
            <p>数量</p>
            <div><%= f.number_field :number, min:1, max:@product.stock %></div>
            <%= f.hidden_field :product_id, :value => params[:id] %>
            <div>

                <%= f.submit "カートに追加", class: "btn btn-success btn-enter mt-4"%>


              </div>
            <% end %>

<!--
                    <option value="1" selected="selected">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                 </select> -->
                   <!--  <button type="button" class="btn btn-success btn-enter">カートに入れる</button> -->
                </div>
                </div>
                <div class="row">
                	<div class="col text-center">
                		<table class="table table-bordered mt-4">
                			<tr>
                              <td>レーベル名</td>
                              <td class="product_show"><%=@product.label.label_name %></td>
                            </tr>
                            <tr>
                              <td>ジャンル</td>
                              <td class="product_show"><%=@product.category.category_name %></td>
                            </tr>
                            <tr>
                             <td>曲名</td>
                             <td class="product_show"><% @product.discs.each do |disc|%><span>Disk</span><%= disc.disc_number%><br>
                             <% disc.songs.each do |song|%>
                             <p class="indent"><%= song.song_number %><span>, </span><%= song.name %></p><% end %>
                             <% end %></td>
                            </tr>

                		</table>
                	</div>
                </div>
			 </div>
		    </div>
		</div>
	</div>
</main>
