<main>
  <div class="container text-white">
    <div class="row user-title">
      <div class="col">
					<div class="d-flex"><%= attachment_image_tag @product,:jacket_image, fallback: "no_image.png", size: '300x300' %></div>
			</div>
			<div class="col-5">
				<div class="bg-light"><h1 class="text-dark">基本情報</h1></div>
        <table class="show-table">
          <tr>
            <th>商品名：</th>
            <td><%=@product.title %></td>
          </tr>
          <tr>
            <th>ジャンル：</th>
            <td><%=@product.category.category_name %></td>
          </tr>
          <tr>
            <th>レーベル名：</th>
            <td><%=@product.label.label_name %></td>
          </tr>
        </table>
        <div class="bg-light mt-4"><h1 class="text-dark">収録曲</h1></div>
        <% @product.discs.order("disc_number asc").each do |disc|%>
          <caption>Disk <%= disc.disc_number%></caption>
          <table class="table table-sm table-striped table-borderless">
            <tbody>
              <% disc.songs.order("song_number asc").each do |song|%>
            <tr>
              <th><%= song.song_number %>. </th>
              <td><%= song.name %></td>
            </tr>
            <% end %>
          </tbody>
          </table>
        <% end %>
      </div>
      <div class="col text-center">
          <%= form_for @cart do |f| %>
              <p>数量</p>
              <%= f.number_field :number, min:1, max:@product.stock, :value => 1 %>
              <%= f.hidden_field :product_id, :value => params[:id] %><br>
              <%= f.submit "カートに追加", class:"btn btn-success btn-enter mt-4"%>
        <% end %>
      </div>
    </div>

	</div>
</main>