<main role="main" class="flex-shrink-0">
	<div id="background-main">
		<div class="text-light main-text">
				<h4><span>Song with a memory</span><br>
				あなたの思い出の曲が見つかる<br>
				オンライン中古CDショップ</h4>
		</div>
	</div>
<div class="mt-4 mb-5 container">
	<div class="text-white text-center">
				<h5>年代で探す</h5>
		<div class="d-flex flex-row mt-4 period-absolute">
			<h4 class="period-text">1980年代</h4>
			<div id="background-1980" class="mr-5">
				<div class="toumei">
					<%= search_form_for([:users,@q], class:"period_option") do |f| %>
						<%= f.hidden_field :period_eq, value:"1980年代" %>
						<%= f.submit "", class:"btn btn-lg filled-btn" %>
					<% end %>
				</div>
			</div>

			<div id="background-1980" class="mr-5">
				<div class="toumei">
					<%= search_form_for([:users,@q], class:"period_option w-100") do |f| %>
						<%= f.hidden_field :period_eq, value:"1990年代" %>
						<%= f.submit "", class:"btn btn-lg filled-btn" %>
					<% end %>
				</div>
			</div>

			<div id="background-1980">
				<div class="toumei">
					<%= search_form_for([:users,@q], class:"period_option") do |f| %>
						<%= f.hidden_field :period_eq, value:"2000年代前半" %>
						<%= f.submit"2000年代前半", class:"btn btn-lg filled-btn" %>
					<% end %>
				</div>
			</div>
		</div>
		<div class="d-flex flex-row mt-4">
			<div id="background-1980" class="mr-5">
				<div class="toumei">
					<%= search_form_for([:users,@q], class:"period_option") do |f| %>
						<%= f.hidden_field :period_eq, value:"2000年代後半" %>
						<%= f.submit"2000年代後半", class:"btn btn-lg filled-btn" %>
					<% end %>
				</div>
			</div>
			<div id="background-1980" class="mr-5">
				<div class="toumei">
					<%= search_form_for([:users,@q], class:"period_option") do |f| %>
						<%= f.hidden_field :period_eq, value:"2010年代前半" %>
						<%= f.submit"2010年代前半", class:"btn btn-lg filled-btn" %>
					<% end %>
				</div>
			</div>
			<div id="background-1980">
				<div class="toumei">
					<%= search_form_for([:users,@q], class:"period_option") do |f| %>
						<%= f.hidden_field :period_eq, value:"2010年代後半" %>
						<%= f.submit"2010年代後半", class:"btn btn-lg filled-btn" %>
					<% end %>
				</div>
			</div>
		</div>

		<div class= "subtitle">
			<h5>キーワードで探す</h5>
			<%= search_form_for([:users,@q]) do |f| %>
					<%= f.search_field :title_or_discs_songs_name_or_artist_artist_name_cont, placeholder:"曲名、アルバム名等" %>
					<%= f.submit "検索" %>
			<% end %>
		</div>
	</div>
</div>
</main>