
<div class="container">
	<div class="text-white">
		<div class="title">
				<h4>Song with a memory</h4>
				<h4>あなたの思い出の曲が見つかる</h4>
				<h4>オンライン中古CDショップ</h4>
		</div>

			<div class= "subtitle">
				<h5>年代で探す</h5>
			</div>
		<div>
			<%= search_form_for([:users,@q], class:"period_option") do |f| %>
				<%= f.hidden_field :period_eq, value:"1980年代" %>
				<%= f.submit"　1980年代　", class:"btn btn-info year" %>
			<% end %>

			<%= search_form_for([:users,@q], class:"period_option") do |f| %>
				<%= f.hidden_field :period_eq, value:"1990年代" %>
				<%= f.submit"　1990年代　", class:"btn btn-info year" %>
			<% end %>

			<%= search_form_for([:users,@q], class:"period_option") do |f| %>
				<%= f.hidden_field :period_eq, value:"2000年代前半" %>
				<%= f.submit"2000年代前半", class:"btn btn-info year" %>
			<% end %>

			<%= search_form_for([:users,@q], class:"period_option") do |f| %>
				<%= f.hidden_field :period_eq, value:"2000年代後半" %>
				<%= f.submit"2000年代後半", class:"btn btn-info year" %>
			<% end %>
		</div>

		<div>
			<%= search_form_for([:users,@q], class:"period_option") do |f| %>
				<%= f.hidden_field :period_eq, value:"2010年代前半" %>
				<%= f.submit"2010年代前半", class:"btn btn-info year" %>
			<% end %>
			<%= search_form_for([:users,@q], class:"period_option") do |f| %>
				<%= f.hidden_field :period_eq, value:"2010年代後半" %>
				<%= f.submit"2010年代後半", class:"btn btn-info year" %>
			<% end %>
		</div>

		<div class= "subtitle">
			<h5>キーワードで探す</h5>
			<%= search_form_for([:users,@q]) do |f| %>
					<%= f.search_field :title_or_discs_songs_name_or_artist_artist_name_cont, placeholder:"曲名、アルバム名等" %>
					<%= f.submit "検索" %>
			<% end %>
		</div>
	</div>
 </div>
