<main role="main" class="flex-shrink-0">
    <div class="container">
      <h1 class="shipping-title text-white">配送先の設定</h1>
      <%= form_tag(order_confirmation_path(1), method: :get, id:"formTag") do %>
	      <h6 class="text-white mt-3">アカウントの登録住所に設定する　<%= radio_button_tag :shipping_address_id, 1, checked: true %></h6>
	      <table class="table text-white">
			  <thead>
			    <tr>
			      <th scope="col">名前</th>
			      <th scope="col">郵便番号</th>
			      <th scope="col">住所</th>
			      <th scope="col"></th>
			    </tr>
			  </thead>
			  <% @shipping_addresses.each do |shipping_address| %>
				  <tbody>
				    <tr>
				      <td><%= shipping_address.last_name + shipping_address.first_name %></td>
				      <td><%= shipping_address.phone_number %></td>
				      <td><%= "#{shipping_address.prefectures}" + "#{shipping_address.city}" + "#{shipping_address.block}" %></td>
				      <td><%= radio_button_tag :shipping_address_id, shipping_address.id %></td>
				    </tr>
				    ...
				  </tbody>
			  <% end %>
	   	   </table>
	   <div class="float-right">
	   		<button type="button" class="btn btn-success rounded-pill">
	   			<%= link_to "配送先の追加", order_address_new_path, class:"text-white" %>
	   		</button>
	   </div>
	   <div class="float-left mt-5">
	   		<button type="button" class="btn btn-light">
	   			<%= link_to "戻る", carts_path, class:"text-dark" %>
	   		</button>
	   </div>
	   <div class="float-right mt-5">
	   		<%= submit_tag "注文の確認", class:"text-dark btn btn-warning" %>
	   </div>
	<% end %>
    </div>
</main>