<main>
	<div class="container text-light">
	<div class="bg-light text-dark p-2 cart-title mb-3"><h3>カート</h3></div>
	<% flash.each do |key, value| %>
		<%= content_tag :div, value, class: "flash flash-#{key} text-danger" %>
	<% end %>
	<% @carts.each do |cart| %>
		<%= form_for(cart) do |f| %>
			<div class="row mt-3 pb-4 border-bottom">
				<div class="col-3 text-center">
					<%= attachment_image_tag cart.product, :jacket_image,fallback: "no_image.png", size: '100x100' %>
				</div>
				<div class="col-5 row">
					<div class="col-6">
						<h5><%= cart.product.title %></h5>
						<p><%= cart.product.artist.artist_name %></p>
						<h5><%= cart.product.price %> 円</h5>
					</div>
					<div class="col-6 d-flex align-items-center">
						数量 <%= f.number_field :number, value: cart.number, in: 1...cart.product.stock %>
						<%= f.submit '数量変更', class:"ml-4" %>
					</div>
				</div>
				<div class="col-2 d-flex align-items-center">
					小計：<%= cart.sum_of_price %> 円
				</div>
				<div class="col-2 d-flex align-items-center">
					<%= link_to "削除", cart_path(cart.id), method: :delete,"data-confirm" => "カートから削除しますか？", class: "btn-sm btn-danger" %>
				</div>
			</div>
		<% end %>
	<% end %>
	<div class="row mt-5">
		<div class="col-7">
			<%= link_to "お買い物を続ける", root_path, class: "btn-lg btn-primary" %>
		</div>
		<div class="col-3">
			<h4 class="ml-5">合計： <%= cart_total(@carts) %> 円</h4>
		</div>
		<div class="col-2">
			<%= link_to "次に進む", order_set_address_path, class: "btn-lg btn-success" %>
		</div>
	</div>
</main>