<div class="container">
 <div class="text-white">
 <div class="row">
 <h3 class="cart-title">カート</h3>

 <table class="table table-hover table-bordered">
	<thead>
		<tr>
			<th></th>
			<th>商品名</th>
			<th>アーティスト名</th>
			<th>単価</th>
			<th>数量</th>
			<th></th>
			<th>金額（税込)</th>
			<th></th>
		</tr>
	</thead>
    <% @carts.each do |cart| %>
	<tbody>
		<td><%= attachment_image_tag cart.product, :jacket_image,fallback: "no_image.png", size: '100x100' %></td>
		<td><%= cart.product.title %></td>
		<td><%= cart.product.artist.artist_name %></td>
		<td><%= cart.product.price %></td>
		<%= form_for(cart) do |f| %>
		<td>
            <%= f.number_field :number, value: cart.number, in: 1...cart.product.stock %>
　　　　　</td>
        <td>
        	<%= f.submit '数量変更' %>
        </td>
       <% end %>
		<td>
			<%= cart.sum_of_price %></td>
		<td>
			<span class="form-inline">
				<%= link_to "削除", cart_path(cart.id), method: :delete,"data-confirm" => "カートから削除しますか？", class: "btn-sm btn-danger" %>
			</span>
		</td>
		<% end %>
	</tbody>
 </table>
 </div>
 <div class="row">
 <div class="col-md-9">
	<%= link_to "お買い物を続ける", root_path, class: "btn-lg btn-primary" %>
 </div>
 <div class="col-md-3">
	<%= link_to "次に進む", order_set_address_path, class: "btn-lg btn-success" %>
 </div>
</div>
</div>
 </div>