<div class="nested-fields well well-compact">
  <div class="form-group mt-4">
    <%= f.label :Disc %>
    <%= f.number_field :disc_number %><br>
    <%= link_to_remove_association "削除", f %>
  </div>

  <div class="songs">
    <%= f.fields_for :songs do |song| %>
      <%= render 'song_fields', f: song %>
    <%end%>
    <div class="links">
      <%= link_to_add_association '曲名追加', f, :songs %>
    </div>
  </div>
</div>