<main role="main" class="flex-shrink-0">
    <div class="container admin-title">
      <h1 class="add-products text-white">商品追加</h1>
         <div class="addditem">
            <%= form_for(@product,:url => {:action => :create}) do |f| %>
	<table class="condensed text-white">
		<tr>
			<td class="text-white">年代</td>
			<td><select name="年代">
        	<option value="1860">1980年代前半</option>
        	<option value="1860">1980年代後半</option>
        	<option value="1860">1990年代前半</option>
        	<option value="1860">1990年代後半</option>
        	<option value="1860">2000年代前半</option>
        	<option value="1860">2000年代後半</option>
        	<option value="1860">2010年代後半</option>
        	<option value="1860">2010年代後半</option>
            </select></td>
        </tr>

        <tr>
            <td class="text-white">アーティスト</td>
            <td>
           <!--  <%= f.label :artist_id %> -->
            <%= f.collection_select :artist_id, Artist.all, :id, :artist_name %>
            <input type="text" name="name" list="artist" class="mt-4">
            <!-- <datalist id="artist">
            <option value="Mr.children"></option>
            <option value="Ed sheeran"></option>
            <option value="RADWIMPS"></option>
            </datalist> --></td>
        </tr>

        <tr>
            <td class="text-white">アルバム/シングル名</td>
            <td> <form><input type="text" class="form-control mt-4" id="title"></form></td>
        </tr>

        <tr>
            <td class="text-white mt-4">ジャケット画像</td>
            <td><div class="form-group has-icon"><label class="control-label sr-only" for="inputEmail">JacketImage</label><%= f.attachment_field :jacket_image, placeholder: "ジャケット画像", class: "jacket_image mt-4" %></div></td>
        </tr>

        <tr>
            <td class="text-white">値段</td>
            <td> <input type="text" class="mt-4" id="price"><span class="text-white">円</span></td>
        </tr>

        <tr>
            <td class="text-white">レーベル名</td>
            <td><input type="text" name="name" list="label" class="mt-4">
            <datalist id="label">
            <option value="TOY'S FACTORY"></option>
            <option value="ワーナーミュージック"></option>
            <option value="エイベックス"></option>
            </datalist></td>
        </tr>

        <tr>
            <td class="text-white">曲名</td>
            <td class="text-white">


  <div id="discs">
    <%= f.fields_for :discs do |disc| %>


      <%= render 'disc_fields', f: disc %>

    <% end %>
    <div id="links">

      <%= link_to_add_association 'Disc追加',f, :discs %>
    </div>
  </div>


            </td>
        </tr>


        <tr>
            <td class="text-white">在庫数</td>
            <td><input type="text" class="mt-4" id="title"><span class="text-white">枚</span></td>
        </tr>




    </table>
<%= f.submit "追加", class:"btn btn-primary btn-enter text-white mb-4" %>
<% end %>

</div>

</div>
</main>
