<div class="container">
    <div class="admin-title">
         <h1 class="text-white">商品詳細画面</h1>
   <div class="showitem text-white">
	<table class="table">
		<tr>
            <td>アーティスト名</td>
            <td><%=@product.artist.artist_name %></td>
        </tr>
        <tr>
            <td>アルバム/シングル名</td>
            <td><%=@product.title %></td>
        </tr>
        <tr>
            <td>ジャケット画像</td>
            <td><%= attachment_image_tag @product,:jacket_image, fallback: "no_image.png", size: '100x100' %></td>
        </tr>
        <tr>
            <td>値段</td>
            <td><%=@product.price %><span>円</span></td>
        </tr>
         <tr>
            <td>年代</td>
            <td><%=@product.period %></td>
        </tr>
        <tr>
            <td>レーベル名</td>
            <td><%=@product.label.label_name %></td>
        </tr>

        <tr>
            <td>ジャンル</td>
            <td><%=@product.category.category_name %></td>
        </tr>

         <tr>
             <td>曲名</td>
            <td><% @product.discs.order("disc_number asc").each do |disc|%><span>Disk</span><%= disc.disc_number%><br>
           <% disc.songs.order("song_number asc").each do |song|%>
             <p class="indent"><%= song.song_number %><span>. </span><%= song.name %></p><% end %>
            <% end %>
            </td>
        </tr>

        <tr>
            <td>在庫数</td>
            <td><%=@product.stock %><span>枚</span></td>
        </tr>
    </table>
   </div>

   <%= link_to "編集", edit_admins_product_path(@product.id), class: "btn btn-success btn-enter mb-4" %>
   <%= link_to "削除", admins_product_path(@product.id), method: :delete, "data-confirm" => "商品を削除しますか？", class: "btn btn-danger btn-enter mb-4" %>

</div>
</div>